.ui-resize-container {
  @apply w-full h-full overflow-hidden;
}

.ui-resize-container__content {
  @apply w-full h-full flex;
}

.ui-resize-container__section {
  @apply min-w-0 min-h-0;
}

.ui-resize-container__divider {
  @apply relative flex-shrink-0;
}

.ui-resize-container__resizer {
  @apply absolute bg-transparent;
  touch-action: none;

  transition: width 150ms ease,
  height 150ms ease,
  background-color 150ms ease;

  &:hover {
    @apply bg-gray-300;
  }
}

/*VERTICAL*/
.ui-resize-container[data-orientation="vertical"] {
  .ui-resize-container__divider {
    @apply w-px h-full;
  }

  .ui-resize-container__resizer {
    cursor: col-resize;
    @apply top-0 left-1/2 h-full w-2 -translate-x-1/2;

    &:hover {
      @apply w-3;
    }
  }
}

/*HORIZONTAL*/
.ui-resize-container[data-orientation="horizontal"] {
  .ui-resize-container__content {
    @apply flex-col;
  }

  .ui-resize-container__divider {
    @apply h-px w-full;
  }

  .ui-resize-container__resizer {
    cursor: row-resize;
    @apply left-0 top-1/2 w-full h-2 -translate-y-1/2;

    &:hover {
      @apply h-3;
    }
  }
}
