/* â— it is possible to have multiple level nesting */

.ui-content-frame {
  --ui-content-frame-header-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  --ui-content-frame-footer-shadow: 0 -4px 10px rgba(0, 0, 0, 0.06);
  --ui-content-frame-border: 1px solid #E5E5E5;
  --ui-content-frame-padding: 1rem;

  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  border: var(--ui-content-frame-border);

  & > .ui-content-frame__header,
  & > .ui-content-frame__footer,
  & > .ui-content-frame__content {
    padding: var(--ui-content-frame-padding);
  }

  & > .ui-content-frame__header,
  & > .ui-content-frame__footer {
    flex: 0 0 auto;
    position: relative;
    z-index: 10;
  }

  & > .ui-content-frame__header {
    box-shadow: var(--ui-content-frame-header-shadow);
  }

  & > .ui-content-frame__footer {
    box-shadow: var(--ui-content-frame-footer-shadow);
  }


  & > .ui-content-frame__content-wrapper {
    flex: 1 1 auto;
    min-height: 0;
    /* overlay positioning */
    position: relative;
  }

  & > .ui-content-frame__content-wrapper > .ui-content-frame__content-overlay {
    pointer-events: none;
    position: absolute;
    inset: 0;
    z-index: 1;

    & > * {
      pointer-events: auto;
    }
  }

  & > .ui-content-frame__content-wrapper > .ui-content-frame__content-scroll {
    height: 100%;
    min-height: 0;
    overflow: auto;
    position: relative;
    z-index: 0;
  }

  & > .ui-content-frame__content-wrapper > .ui-content-frame__content-scroll > .ui-content-frame__content {
    min-height: 100%;
  }

  /* NOT SCROLLABLE */

  &[data-scrollable="false"] {
    height: auto;
    min-height: auto;

    & > .ui-content-frame__content-wrapper > .ui-content-frame__content-scroll {
      height: auto;
      overflow: visible;
    }
  }
}
