.ui-resize-container-section {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}

.ui-resize-container-section[data-scrollable="true"] {
  overflow: auto;
}

.ui-resize-container-section[data-scrollable="false"] {
  overflow: hidden;
}
