/* =========================
   ROOT
   ========================= */
.ui-resize-container {
  --resizer-size: 8px;
  --resizer-size-hover: 8px;
  --resizer-color: #b3b3b3;
  --resizer-color-hover: #7a7a7a;

  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ui-resize-container__content {
  width: 100%;
  height: 100%;
  display: flex;
}

.ui-resize-container__section {
  min-width: 0;
  min-height: 0;
  /*padding-right: 4px;*/
}

.ui-resize-container__icon {
  transition: transform 150ms ease;
}

/* =========================
   DIVIDER (LAYOUT AXIS)
   ========================= */
.ui-resize-container__divider {
  position: relative;
  flex-shrink: 0;
  z-index: 10;
}

/* =========================
   RESIZE HANDLER (DRAG OWNER)
   ========================= */
.ui-resize-container__handler {
  position: absolute;
  background-color: var(--resizer-color);
  touch-action: none;
  pointer-events: auto;

  transition: width 150ms ease,
  height 150ms ease,
  background-color 150ms ease;
}


/* =========================
   VERTICAL
   ========================= */
.ui-resize-container[data-orientation="vertical"] {
  .ui-resize-container__divider {
    width: 1px;
    height: 100%;
  }

  .ui-resize-container__handler {
    top: 0;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    width: var(--resizer-size);
    cursor: col-resize;
  }

  .ui-resize-container__handler:hover {
    width: var(--resizer-size-hover);
    background-color: var(--resizer-color-hover);
  }


  /* GRIP */

  .ui-resize-container__grip {
    width: 24px;
    height: 124px;
    cursor: col-resize;
  }

  .ui-resize-container__section[data-section="alpha"]:has(.ui-resize-container-section[data-has-scroll-vertical="true"]) {
    padding-right: calc((var(--resizer-size) / 2) - 1px);
  }

  /* SIDES */

  &[data-origin="alpha"] {
    &[data-collapsed="true"] {
      .ui-resize-container__section[data-section="alpha"] {
        padding-right: calc((var(--resizer-size) / 2) - 1px);
      }
    }

    &[data-expanded="true"] {
      .ui-resize-container__section[data-section="beta"] {
        padding-right: calc((var(--resizer-size) / 2) - 1px);
      }
    }
  }

  &[data-origin="beta"] {
    &[data-expanded="true"] {
      .ui-resize-container__section[data-section="alpha"] {
        padding-left: calc((var(--resizer-size) / 2) - 1px);
      }
    }

    &[data-collapsed="true"] {
      .ui-resize-container__section[data-section="beta"] {
        padding-left: calc((var(--resizer-size) / 2) - 1px);
      }
    }
  }
}

/* =========================
   HORIZONTAL
   ========================= */
.ui-resize-container[data-orientation="horizontal"] {
  .ui-resize-container__content {
    flex-direction: column;
  }

  .ui-resize-container__divider {
    height: 1px;
    width: 100%;
  }

  .ui-resize-container__handler {
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    height: var(--resizer-size);
    cursor: row-resize;
  }

  .ui-resize-container__handler:hover {
    height: var(--resizer-size-hover);
    background-color: var(--resizer-color-hover);
  }

  /* GRIP */

  .ui-resize-container__grip {
    height: 24px;
    width: 124px;
    cursor: row-resize;
  }

  /* SIDES */

  &[data-origin="alpha"] {
    &[data-collapsed="true"] {
      .ui-resize-container__section[data-section="alpha"] {
        padding-bottom: calc((var(--resizer-size) / 2) - 1px);
      }
    }

    &[data-expanded="true"] {
      .ui-resize-container__section[data-section="beta"] {
        padding-top: calc((var(--resizer-size) / 2) - 1px);
      }
    }
  }

  &[data-origin="beta"] {
    &[data-expanded="true"] {
      .ui-resize-container__section[data-section="alpha"] {
        padding-bottom: calc((var(--resizer-size) / 2) - 1px);
      }
    }

    &[data-collapsed="true"] {
      .ui-resize-container__section[data-section="beta"] {
        padding-top: calc((var(--resizer-size) / 2) - 1px);
      }
    }
  }
}

