.ui-split-pane__grip-wrapper {
  position: relative;
  pointer-events: none;
  width: max-content;
  height: max-content;
}

.ui-split-pane__grip {
  pointer-events: auto;
  background-color: #fff;
  border-radius: 999px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .08), 0 2px 6px rgba(0, 0, 0, .12);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: var(--ui-split-pane-grip-dot-size);
    height: var(--ui-split-pane-grip-dot-size);
    background-color: var(--ui-split-pane-grip-dot-color);
    border-radius: 50%;
  }
}

/* =====================================================
  VERTICAL
 * ===================================================== */

.ui-split-pane[data-orientation="vertical"] {
  .ui-split-pane__grip {
    width: 1.5rem;
    height: 5rem;
    cursor: col-resize;

    &::before {
      box-shadow: 0 calc(var(--ui-split-pane-grip-dot-gap) * -1) 0 var(--ui-split-pane-grip-dot-color),
      0 calc(var(--ui-split-pane-grip-dot-gap)) 0 var(--ui-split-pane-grip-dot-color);
    }
  }

  .ui-split-pane__grip-wrapper {
    top: 50%;
  }

  /* CENTER (default stav) */

  &:not([data-collapsed="true"]):not([data-expanded="true"]) {
    .ui-split-pane__grip-wrapper {
      left: 1px;
      transform: translate(-50%, -50%);
    }
  }

  /* LEFT */

  &[data-origin="alpha"][data-expanded="true"],
  &[data-origin="beta"][data-collapsed="true"] {
    .ui-split-pane__grip-wrapper {
      right: calc((var(--ui-split-pane-resizer-size) / 2) + var(--ui-split-pane-grip-offset));
      transform: translate(-100%, -50%);
    }
  }

  /* RIGHT */

  &[data-origin="alpha"][data-collapsed="true"],
  &[data-origin="beta"][data-expanded="true"] {
    .ui-split-pane__grip-wrapper {
      left: calc((var(--ui-split-pane-resizer-size) / 2) + var(--ui-split-pane-grip-offset));
      transform: translateY(-50%);
    }
  }
}

/**
  ======================================================
  HORIZONTAL
  ======================================================
 */

.ui-split-pane[data-orientation="horizontal"] {
  .ui-split-pane__grip-wrapper {
    left: 50%;
  }

  .ui-split-pane__grip {
    width: 5rem;
    height: 1.5rem;
    cursor: row-resize;
    position: relative;

    &::before {
      box-shadow: calc(var(--ui-split-pane-grip-dot-gap) * -1) 0 0 var(--ui-split-pane-grip-dot-color),
      calc(var(--ui-split-pane-grip-dot-gap)) 0 0 var(--ui-split-pane-grip-dot-color);
    }
  }

  /* CENTER */

  &:not([data-collapsed="true"]):not([data-expanded="true"]) {
    .ui-split-pane__grip-wrapper {
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  /* TOP */

  &[data-origin="alpha"][data-expanded="true"],
  &[data-origin="beta"][data-collapsed="true"] {
    .ui-split-pane__grip-wrapper {
      bottom: calc((var(--ui-split-pane-resizer-size) / 2) + var(--ui-split-pane-grip-offset));
      transform: translate(-50%, -100%);
    }
  }

  /* BOTTOM */

  &[data-origin="alpha"][data-collapsed="true"],
  &[data-origin="beta"][data-expanded="true"] {
    .ui-split-pane__grip-wrapper {
      top: calc((var(--ui-split-pane-resizer-size) / 2) + var(--ui-split-pane-grip-offset));
      transform: translate(-50%, 0);
    }
  }
}
