.ui-split-pane-section {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}

.ui-split-pane-section[data-scrollable="true"] {
  overflow: auto;
}

.ui-split-pane-section[data-scrollable="false"] {
  overflow: hidden;
}


.ui-split-pane__section {
  min-width: 0;
  min-height: 0;
}

/* =========================
   VERTICAL
   ========================= */
.ui-split-pane[data-orientation="vertical"] {
  .ui-split-pane__section[data-section="alpha"]:has(.ui-split-pane-section[data-has-scroll-vertical="true"]) {
    padding-right: calc((var(--ui-split-pane-resizer-size) / 2) - 1px);
  }

  /* SIDES */

  &[data-origin="alpha"] {
    &[data-collapsed="true"] {
      .ui-split-pane__section[data-section="alpha"] {
        padding-right: calc((var(--ui-split-pane-resizer-size) / 2) - 1px);
      }
    }

    &[data-expanded="true"] {
      .ui-split-pane__section[data-section="beta"] {
        padding-right: calc((var(--ui-split-pane-resizer-size) / 2) - 1px);
      }
    }
  }

  &[data-origin="beta"] {
    &[data-expanded="true"] {
      .ui-split-pane__section[data-section="alpha"] {
        padding-left: calc((var(--ui-split-pane-resizer-size) / 2) - 1px);
      }
    }

    &[data-collapsed="true"] {
      .ui-split-pane__section[data-section="beta"] {
        padding-left: calc((var(--ui-split-pane-resizer-size) / 2) - 1px);
      }
    }
  }
}

/* =========================
   HORIZONTAL
   ========================= */
.ui-split-pane[data-orientation="horizontal"] {
  &[data-origin="alpha"] {
    &[data-collapsed="true"] {
      .ui-split-pane__section[data-section="alpha"] {
        padding-bottom: calc((var(--ui-split-pane-resizer-size) / 2) - 1px);
      }
    }

    &[data-expanded="true"] {
      .ui-split-pane__section[data-section="beta"] {
        padding-top: calc((var(--ui-split-pane-resizer-size) / 2) - 1px);
      }
    }
  }

  &[data-origin="beta"] {
    &[data-expanded="true"] {
      .ui-split-pane__section[data-section="alpha"] {
        padding-bottom: calc((var(--ui-split-pane-resizer-size) / 2) - 1px);
      }
    }

    &[data-collapsed="true"] {
      .ui-split-pane__section[data-section="beta"] {
        padding-top: calc((var(--ui-split-pane-resizer-size) / 2) - 1px);
      }
    }
  }
}
